<html>
<div class="container" id="tab">

    <table>
        <tr>
            <td>
                <h3 class="my-3">Transaction Details</h3>
            </td>
            <td>
                <div class="form-outline" style="margin-left: 650px; color: white; padding-top: 10px;">

                    <mat-form-field>
                        <input matInput placeholder="Search" (keyup)="applyFilter($any($event).target.value)">
                    </mat-form-field>
                </div>

            </td>
        </tr>
    </table>
    <hr>
    <div class="example-container mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="tranid">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Transaction ID</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.tranid}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="dateoftran">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Date of Transaction</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.dateoftran}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="medium_of_tran">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Transaction Type</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.medium_of_tran}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="from_to">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Sender/Reciever</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.from_to}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="tran_amount">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.tran_amount}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>
        </mat-table>
    </div>
    <mat-paginator [length]="100" [pageSize]="6" aria-label="Select page">
    </mat-paginator>
</div>

</html>