<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">
        <img style="margin-left: 50px;" width="160" height="40" src="assets/sbi_intouch_logo.svg" alt="Yono Logo">
    </a>
</nav>
<ngb-carousel [showNavigationArrows]="false" [showNavigationIndicators]="false" [interval]="5000">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img width="100%" height="70%" src="assets/BG6.svg" alt="Carousel Image">
        </div>
    </ng-template>
</ngb-carousel>
<div class="card" style="position: absolute; top: 18%; left:70%;">
    <div class="card-header text-xl" style="padding-top: 20px ; padding-bottom: 10px ; padding-left: 20px; ">
        Welcome to<br>
        <img width="160" height="40" src="assets/sbi_intouch_logo.svg" alt="Yono Logo">
    </div>
    <form [formGroup]="loginform">
        <div class="card-body" style="padding: 0;">
            <div class="body">
                <div class="inputBox">
                    <input type="text" required formControlName="username" required="true">
                    <div class="text-danger" *ngIf="loginform.get('username')?.invalid">Username is invalid.</div>
                    <span>User Name</span>
                </div>
                <div class="inputBox">
                    <input type="password" required formControlName="password" [required]="true">
                    <div class="text-danger" *ngIf="loginform.get('password')?.invalid">Password is invalid.</div>
                    <span>Password</span>
                </div>
                <div>
                    <input
                        style="width:200px; height: 45px; position: relative; top: -14px; background-color: #ac5295; border: none; border-radius: 5px; color: white;"
                        [disabled]="loginform.invalid" (click)="verify(invalid)" type="submit">
                </div>
            </div>
        </div>
        <div class="card-footer" style="padding: 10px ;">
            <p style="font-size: 90%; padding-bottom: 5px ;">The Username is (Last Name).(First.Name).</p>
            <p style="font-size: 90%;">The Password is registered Mobile Number.</p>
        </div>
    </form>

</div>


<ng-template #invalid let-modal>
    <div class="modal-header">
        <h4 id="status" style="font-weight: 600; letter-spacing: 2px;" class="modal-title">Invalid Credentials!</h4>
    </div>
    <div class="modal-body text-center">
        <span style="font-weight: 500; letter-spacing: 2px;">Invalid Username or Password!</span>
        <img height="200px" width="400px" src="../../../assets/incorrect_pass.gif" alt="Invalid Credentials">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="modal.close('Close click')">Retry</button>
        <button type="button" class="btn btn-outline-danger" (click)="modal.close('Close click')"
            [routerLink]="['createAccount']">Create new Account</button>
    </div>
</ng-template>